<div class="flex justify-end">
    <div class="relative inline-block text-left">
        <div>
            <button type="button" (click)="showDateRange = !showDateRange" (clickOutside)="showDateRange = false"
                class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                id="menu-button" aria-expanded="true" aria-haspopup="true">
                {{getDate('start')| date}} - {{getDate('end')| date}}
                <!-- Heroicon name: solid/chevron-down -->
                <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                    fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                        clip-rule="evenodd" />
                </svg>
            </button>
        </div>

        <!--
      Dropdown menu, show/hide based on menu state.

      Entering: "transition ease-out duration-100"
        From: "transform opacity-0 scale-95"
        To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
        From: "transform opacity-100 scale-100"
        To: "transform opacity-0 scale-95"
      -->

        <div *ngIf="showDateRange"
            class="z-50 origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none"
            role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="py-1" role="none">
                <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                <div *ngFor="let range of dateRange | keyvalue : returnZero"
                    (click)="dateRangeSelected(range.key, range.value)"
                    [ngClass]="{'bg-gray-100 text-gray-900' : range.key == activeDateRange, 'text-gray-700' : range.key != activeDateRange}"
                    class="cursor-pointer  hover:bg-gray-100 block px-4 py-2 text-sm">
                    {{range?.key}}
                </div>
                <div class="border-t" role="none">
                    <div (click)="picker.open()"
                        [ngClass]="{'bg-gray-100 text-gray-900' :  activeDateRange == 'Custom', 'text-gray-700' : activeDateRange != 'Custom'}"
                        class="cursor-pointer flex items-center justify-start hover:bg-gray-100  px-4 py-2 text-sm"
                        role="menuitem">
                        <span>Custom</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- hidden items for custom date range-->
<mat-date-range-input [formGroup]="range" style="width: 0; display: none;" hidden [rangePicker]="picker">
    <input formControlName="start" style="width: 0; display: none;" hidden matStartDate placeholder="Start date">
    <input formControlName="end" style="width: 0; display: none;" hidden matEndDate placeholder="End date">
</mat-date-range-input>
<mat-date-range-picker (closed)="customDateRange()" touchUi #picker></mat-date-range-picker>
<!-- hidden items for custom date range-->