<div class="max-w-sm w-full bg-white rounded-lg shadow-lg cursor-pointer overflow-hidden">
    <div class="p-4">
      <div class="flex items-start">
        <div class="flex-shrink-0">
          
          <mat-icon class="text-2xl text-yellow-500">notifications</mat-icon>
        </div>
        <div class="ml-3 w-0 flex-1 pt-0.5">
          <p class="text-sm font-medium text-gray-900">New Order Received</p>
          <p class="mt-1 text-sm text-gray-500">New order received for {{data?.totalAmount | currency : data?.currency}}.</p>
          <div class="mt-3 flex space-x-7">
            <button [routerLink]="['/restaurant', getRestaurantSlug(), 'admin', 'orders', 'view', data?.dbOrderId, {fragment: data.orderId} ]" type="button" class="bg-white rounded-md text-sm font-medium text-lime-600 hover:text-lime-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-500">Check</button>
            <button (click)="dismiss()" class="bg-white rounded-md text-sm font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-500">
              Dismiss
            </button>
          </div>
        </div>
        <div class="ml-4 flex-shrink-0 flex">
          <button (click)="dismiss()" class="bg-white rounded-md inline-flex text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-500">
            <span class="sr-only">Close</span>
            <!-- Heroicon name: solid/x -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>