<div class="shadow rounded-lg bg-white mt-8">

    <div class="p-6">
        <div class="sm:hidden">
            <label for="tabs" class="sr-only">Select a tab</label>
            <h3 class="text-gray-900 text-md font-medium">Variations</h3>
            <select name="tabs"
                class="mt-4 block w-full focus:ring-lime-500 focus:border-lime-500 border-gray-300 rounded-md">
                <option selected [value]="'hours'">Edit</option>
                <option [value]="'days'">Preview</option>
            </select>
        </div>
        <div class="hidden sm:block">

            <div class="flex items-center flex-row flex-wrap justify-between sm:space-y-2">
                <h3 class="text-gray-800 text-base font-medium pl-6 sm:pl-0">Variations</h3>
                <span class="relative z-0 inline-flex shadow-sm rounded-md">
                    <button
                        class="relative inline-flex items-center px-4 py-2 rounded-l-lg border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-lime-500 focus:border-lime-500"
                        >
                        Edit
                    </button>
                    <button 
                        class="-ml-px relative inline-flex items-center px-4 py-2 rounded-r-lg border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-lime-500 focus:border-lime-500"
                       >
                        Preview
                    </button>
                </span>


            </div>


        </div>

            <div class="bg-gray-50 border rounded-md p-2 mt-8">
                <list-item [item]="parentItem"
                  [connectedDropListsIds]="connectedDropListsIds"
                  (itemDrop)="onDragDrop($event)">
                </list-item>
                <button (click)="checkResult()">Click</button>
              </div>
    </div>

</div>