<app-loader class="absolute top-0 left-0" *ngIf="loading"></app-loader>
<div *ngIf="!loading" class="bg-white dark:bg-slate-800">

    <div *ngIf="loading" class="p-5 text-center">
        <p class="px-4 py-2 text-gray-800 font-medium dark:text-white">Checking Info...</p>
        <app-loader></app-loader>
    </div>

    <!-- Login Form -->
    <!-- If not logged in -->
    <!-- <div  > -->
    <app-login *ngIf="!isLogin && !loading"></app-login>
    <!-- </div> -->
    <!-- Else user info-->

    <div *ngIf="isLogin && !loading" class="bg-white overflow-hidden dark:bg-slate-800">
        <div class="flex justify-between px-4 py-5 sm:px-6">
            <div>
                <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">User Information</h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500 dark:text-gray-200">Personal details.</p>
            </div>
            <button (click)="logout()"
                class="focus-visible:outline-none py-1 px-3 border border-red-500 dark:border-red-400 text-red-500 dark:text-red-400 text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500  custom-ripple" matRipple
                [matRippleCentered]="false" [matRippleDisabled]="false"
                [matRippleUnbounded]="false">
                Logout
            </button>
        </div>
        <div class="border-t border-gray-200 dark:border-gray-700">
            <form [formGroup]="updateFormGroup" (ngSubmit)="updateUser()">
                <dl>
                    <div
                        class="px-4 py-5 sm:gap-4 sm:px-6 sm:grid sm:grid-cols-3 dark:bg-slate-700 items-center ">
                        <dt class="text-sm font-medium text-gray-500 dark:text-gray-200">Full name</dt>
                        <input formControlName="fullName" type="text" autocomplete="given-name" placeholder="Your Name"
                            class="mt-1 dark:bg-slate-800 dark:text-white dark:ring-slate-700 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md">
                    </div>
                    <div *ngIf="userData.username" class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 dark:bg-slate-800">
                        <dt class="text-sm font-medium text-gray-500 dark:text-gray-200">Username</dt>
                        <input formControlName="username" type="text" name="username" autocomplete="username"
                            class="mt-1 dark:bg-slate-800 dark:text-white dark:ring-slate-700 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 dark:border-gray-700 rounded-md"
                            [ngClass]="{'border-2 border-red-500' : updateFormGroup.get('username')?.errors && (updateFormGroup.get('username')?.touched ||  updateFormGroup.get('username')?.dirty)}"
                            >
                        <div *ngIf="updateFormGroup.get('username')?.errors?.['required'] || updateFormGroup.get('username')?.errors?.['username']"
                            class="text-red-500 text-xs pt-1">Username is invalid</div>
                    </div>
                    <div *ngIf="userData.email" class="px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 dark:bg-slate-700">
                        <dt class="text-sm font-medium text-gray-500 dark:text-gray-200">Email address</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-white">{{userData.email}}</dd>
                    </div>
                    <div *ngIf="userData.number" class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 dark:bg-slate-800">
                        <dt class="text-sm font-medium text-gray-500 dark:text-gray-200">Mobile Number</dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 dark:text-white">
                            {{userData.countryCode}} {{userData.number}}</dd>
                    </div>
                </dl>

                <div class="mt-2 flex justify-between px-4 py-5 sm:gap-4 sm:px-6 bg-white dark:bg-slate-800">

                    <button type="submit" [disabled]="updateFormGroup.invalid"
                        [ngClass]="{'text-blue-200 border-blue-200' : updateFormGroup.invalid}"
                        class="py-2 px-4 border border-blue-500 dark:border-blue-400 text-sm font-medium rounded-md text-blue-500 dark:text-blue-400  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500  custom-ripple" matRipple
                        [matRippleCentered]="false" [matRippleDisabled]="false"
                        [matRippleUnbounded]="false">
                        Update
                    </button>

                    <button mat-dialog-close
                        class="cursor-pointer py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500  custom-ripple" matRipple
                        [matRippleCentered]="false" [matRippleDisabled]="false"
                        [matRippleUnbounded]="false">
                        Close
                </button>

                </div>
            </form>
        </div>
    </div>




</div>