<app-loader class="absolute top-0 left-0" *ngIf="loading"></app-loader>


<div class=" bg-gray-100 min-h-screen">


    <div class="p-12 mx-auto max-w-6xl " *ngIf="!loading && (!taxes || taxes?.length == 0)">
        <button type="button" [routerLink]="['add']"
            class="block w-full border-2 border-gray-300 border-dashed rounded-lg p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-500">
            <mat-icon style="height: unset;width: unset;" class="mx-auto  text-gray-600  text-5xl">
                savings
            </mat-icon>
            <span class="mx-auto mt-2 block text-sm font-medium text-gray-500">
                No taxes found.
            </span>
            <button type="button"
                class=" mx-auto mt-2 inline-flex items-center px-4 py-2 border border-gray-300 shadow-purple-500 shadow-sm text-sm font-medium rounded-3xl text-lime-500 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-500">
                Create one
                <mat-icon style="height: unset;width: unset;" class="ml-2 text-lime-500 text-md">
                    east
                </mat-icon>
            </button>
        </button>
    </div>

    <div *ngIf="!loading && taxes && taxes.length > 0">
        <div class="pt-8 pb-12">
            <div class="max-w-6xl mx-auto px-4 space-y-4 sm:px-6 lg:px-8">
                <div class="flex justify-between py-4 items-center">
                    <div>
                        <h2 class="text-lg font-medium text-gray-900 ">
                            Taxes
                        </h2>
                        <span *ngIf="this.taxes" class="text-xs text-gray-600">{{this.taxes.length || 0}} entries
                            found</span>
                    </div>

                    <button [routerLink]="['add']"
                        class="disabled:bg-lime-400 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-lime-600 hover:bg-lime-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-500">
                        <mat-icon class="mr-2 text-md">
                            add</mat-icon>
                        Create new tax
                    </button>
                </div>

                <cdk-accordion class="bg-white accordion mt-4 shadow rounded-lg overflow-hidden">
                    <cdk-accordion-item *ngFor="let tax of taxes; let index = index; let last = last"
                        #accordionItem="cdkAccordionItem" class="accordion-item" [ngClass]="{'border-b' : !last}"
                        role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
                        [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
                        <div class="accordion-item-header hover:bg-gray-50 "
                            (click)="accordionItem.toggle(); $event.stopPropagation();"
                            [ngClass]="{'bg-gray-50' : accordionItem.expanded}">
                            <div class="flex flex-col">
                            <h3 class="text-lime-500 flex items-center">
                                {{tax?.name}} <span class="text-gray-600 font-semibold text-xs ml-2">{{tax.rate}}%</span>
                            </h3>
                            <p class="text-gray-600 lowercase  text-xs mt-1">{{ tax.compound ? 'With compound' : 'With no compound' }}</p>
                        </div>
                            <div class="flex  items-center justify-center flex-wrap space-x-4 sm:space-y-0 space-y-2 ">

                                <span
                                    class="flex justify-center text-center align-middle text-gray-500 text-sm font-bold">{{tax?.priority}}</span>


                                <button type="button"
                                    (click)="showDeleteDialog = true; $event.stopPropagation(); taxIdToDelete = tax?.id"
                                    class="inline-flex items-center  border border-transparent rounded-full shadow-sm text-white bg-gray-400 hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                                    <mat-icon class="text-base">delete</mat-icon>
                                </button>

                                <button [routerLink]="['edit', tax.id]" type="button"
                                    class="inline-flex items-center  border border-transparent rounded-full shadow-sm text-white bg-gray-400 hover:bg-lime-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-500">
                                    <mat-icon class="text-base">edit</mat-icon>
                                </button>


                            </div>

                        </div>
                    </cdk-accordion-item>
                </cdk-accordion>




                <!-- confirm delete popup -->

                <div *ngIf="showDeleteDialog" class="fixed h-full inset-0 z-50 overflow-y-auto" role="dialog"
                    aria-modal="true">
                    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center ">

                        <div [ngClass]="{'ease-out duration-300 opacity-100' : showDeleteDialog, 'ease-in duration-200 opacity-0' : !showDeleteDialog}"
                            class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity" aria-hidden="true">
                        </div>

                        <div [ngClass]="{'ease-out duration-300 opacity-100 scale-100' : showDeleteDialog, 'ease-in duration-200 opacity-0 scale-95' : !showDeleteDialog}"
                            class="relative inline-block align-middle m-4 max-w-xl  w-full sm:m-auto transform divide-y divide-gray-500 divide-opacity-10 overflow-hidden rounded-xl bg-white bg-opacity-80 shadow-2xl ring-1 ring-black ring-opacity-5 backdrop-blur backdrop-filter transition-all">


                            <div (clickOutside)="showDeleteDialog = false">
                                <div class="flex items-start px-4 pt-5 p-6 ">
                                    <div
                                        class="flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full sm:mx-0 sm:h-10 sm:w-10">
                                        <mat-icon class="h-6 w-6 text-yellow-500" aria-hidden="false"
                                            aria-label="warning">
                                            warning
                                        </mat-icon>
                                    </div>
                                    <div class="mt-0 ml-4 text-left">
                                        <h3 class="text-lg leading-6 font-medium text-gray-900 " id="modal-title">Are
                                            you sure?</h3>
                                        <div class="mt-2">
                                            <p class="text-sm text-gray-500 ">
                                                Once deleted you won't be able to retrive the data.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-2 flex justify-between px-4 py-5 sm:gap-4 sm:px-6 border-t">

                                    <button type="button" (click)="showDeleteDialog = false"
                                        class="py-2 px-4 border border-lime-500 text-sm font-medium rounded-md text-lime-500  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-lime-500">
                                        Cancel
                                    </button>


                                    <button type="button" (click)="deleteTax(taxIdToDelete)"
                                        class="cursor-pointer py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                                        Ok, Delete
                                    </button>


                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- confirm delete popup end -->


            </div>
        </div>
    </div>
</div>