<div class="shadow rounded-lg bg-white">

    <div class="p-6">
        <div class="sm:hidden">
            <label for="tabs" class="sr-only">Select a tab</label>
            <h3 class="text-gray-900 text-md font-medium">Expense</h3>
            <select name="tabs" (change)="changeCategoryAndRenderChart($any($event.target).value)"
                class="mt-4 block w-full focus:ring-blue-500 focus:border-blue-500 border-gray-300 rounded-md">
                <option selected [value]="'debit'">Debit</option>
                <option [value]="'credit'">Credit</option>
            </select>
        </div>
        <div class="hidden sm:block">

            <div class="flex items-center flex-row flex-wrap justify-between sm:space-y-2 md:space-y-0">
                <h3 class="text-gray-800 text-base font-medium pl-6 sm:pl-0">Expense</h3>
                <span class="relative z-0 inline-flex shadow-sm rounded-md">
                    <button (click)="changeCategoryAndRenderChart('debit')"
                        class="relative inline-flex items-center px-4 py-2 rounded-l-lg border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500"
                        [ngClass]="{'bg-gray-50' : (category == 'debit')}">
                        Debit
                    </button>
                    <button (click)="changeCategoryAndRenderChart('credit')"
                        class="-ml-px relative inline-flex items-center px-4 py-2 border rounded-r-lg border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500"
                        [ngClass]="{'bg-gray-50' : (category == 'credit')}">
                        Credit
                    </button>
                </span>
            </div>
        </div>

        <p *ngIf="!data || data?.length == 0" class="mt-8 text-sm text-gray-800">No Data Found.</p>

        <div class="w-full aspect-w-3 aspect-h-2 mt-8 flex justify-center">

            <div *ngIf="data && data?.length > 0" class="w-10/12 mx-auto" id="chart">
                <apx-chart [series]="chartOptions?.series" 
                [chart]="chartOptions?.chart" 
                [labels]="chartOptions?.labels"
                [responsive]="chartOptions?.responsive" 
                [plotOptions]="chartOptions?.plotOptions"></apx-chart>
            </div>

        </div>
    </div>

</div>