<app-loader class="absolute top-0 left-0" *ngIf="loading"></app-loader>

<div *ngIf="!loading && tables && tables?.length == 0" class="bg-red-500">
  <div class="mx-auto max-w-6xl py-3 px-3 sm:px-6 lg:px-8">
    <div class="flex flex-wrap items-start justify-between">
      <div class="items-start flex w-0 flex-1">

        <mat-icon style="height: unset;width: unset;" class="text-white p-2 bg-red-600 rounded-lg">
          error
        </mat-icon>

        <div class="flex items-center flex-wrap justify-between">
          <p class="ml-3 font-medium text-white ">
            To create an order, you need to create a table first.
          </p>
          <button type="button" [routerLink]="['../../', 'tables','add']"
            class="mt-2 lg:mt-0 ml-3 mx-auto inline-flex items-center px-4 py-1 border border-red-300 shadow-lg text-sm font-medium rounded-3xl text-red-500 bg-white hover:bg-red-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
            Create one
            <mat-icon style="height: unset;width: unset;" class="ml-2 text-red-500 text-md">
              east
            </mat-icon>
          </button>

        </div>
      </div>

    </div>
  </div>
</div>

<div *ngIf="!loading" class="bg-white mt-8 pb-12 ">
  <form [formGroup]="userFormGroup">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
      <!-- Confirm Order -->
      <div class="flex justify-between py-4 items-center">
        <div (click)="goBackback()" class="text-blue-500 cursor-pointer flex items-center  text-sm">
          <mat-icon class="mr-2 text-base ">
            arrow_back</mat-icon> Back
        </div>
        <button type="button" (click)="confirmOrder()" [disabled]="userFormGroup.invalid || total <= 0"
          class="disabled:bg-blue-400 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          <mat-icon class="mr-2 text-md">
            save</mat-icon>
          Confirm Order
        </button>
      </div>
      <!-- Confirm Order End -->

      <!-- search dishes -->
      <div class="mt-10 mb-6">
        <!-- <app-search-dish (selectedData)="addDish($event)"></app-search-dish> -->
        <div class="relative rounded-md shadow-sm sm:min-w-0 sm:flex-1">
          <div name="search" (click)="toggleSearchDishDialog(); $event.stopPropagation()"
              class="border p-2 text-gray-500 focus:ring-blue-500 focus:border-blue-500 block w-full pr-32 sm:text-sm border-gray-300 rounded-md"
              >
              Burger...
          </div>
      </div>
      </div>
      <!-- search dihes end -->


      <div class="pt-6 lg:grid lg:grid-cols-2 lg:gap-x-12 xl:gap-x-16 border-t border-gray-300">
        <!-- Order summary -->
        <div class="mt-10 lg:mt-0">
          <h2 class="text-lg font-medium text-gray-900">Order summary</h2>
          <div class="mt-4 bg-white border border-gray-200 rounded-lg shadow-sm">
            <div *ngIf="total > 0">
              <div class="px-4 sm:px-6">
                <div class="mt-8">
                  <div class="flow-root">
                    <ul role="list" class="-my-6 divide-y divide-gray-200 ">

                      <app-cart-card *ngFor="let property of cartItems | keyvalue " [dish]="getJsonData(property.value)"
                        [theme]="'admin'" [type]="getJsonData(property.value)?.type"
                        (refreshCart)="refreshCartItems($event)">
                      </app-cart-card>
                    </ul>
                  </div>
                </div>
              </div>

              <dl class="mt-4 py-6 px-4 space-y-6 sm:px-6">
                <div class="flex items-center justify-between">
                  <dt class="text-sm">Subtotal</dt>
                  <dd class="text-sm font-medium text-red-500">{{subTotal | currency : getCurrency()}}</dd>
                </div>

                <div *ngFor="let tax of taxes" class="flex pb-2 justify-between text-base text-gray-700">
                  <p class="dark:text-gray-400 flex justify-center items-center text-xs text-gray-600">{{tax?.name}}
                    <span class="text-gray-600 font-semibold text-xs ml-2">({{tax.rate}}%)</span>
                  </p>
                  <p class="text-sm font-medium text-red-500">{{ tax?.taxDue | currency : getCurrency()}}</p>
                </div>

                <div class="flex items-center justify-between border-t border-gray-200 pt-6">
                  <dt class="text-base font-medium">Total</dt>
                  <dd class="text-base font-medium text-red-500">{{total | currency : getCurrency()}}</dd>
                </div>
              </dl>
            </div>
            <div class="px-4 py-6 sm:px-6" *ngIf="total <= 0">
              <div class="text-center">

                <mat-icon class="mx-auto h-12 w-12 text-2xl text-gray-600">
                  shopping_bag</mat-icon>

                <h3 class="mt-2 text-sm font-medium text-gray-900">No items</h3>
                <p class="mt-1 text-sm text-gray-500">Get started by searching & adding a new dish from search input.
                </p>

              </div>

            </div>
          </div>

        </div>
        <!-- Order Summary End -->

        <!-- User Information -->
        <div class="mb-6 pb-6 mt-10 lg:mt-0">
          <h2 class="text-lg font-medium text-gray-900 sm:mt-0 mt-4">User information</h2>

          <div class="mt-4 flex sm:flex-row flex-col gap-x-2">

            <div class="w-full">
              <label for="phone-number" class="block text-sm font-medium text-gray-700">Phone Number</label>
              <div class="mt-1 flex rounded-md shadow-sm">
                <div class="relative flex items-stretch flex-grow focus-within:z-10">
                  <div class="absolute inset-y-0 left-0 flex items-center">
                    <label for="country" class="sr-only">Country Code</label>
                    <select id="country" name="country" autocomplete="country"
                      class="focus:ring-blue-500 focus:border-blue-500 h-full py-0 pl-3 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md">
                      <option>+91</option>
                    </select>
                  </div>
                  <input type="number" name="phone-number" formControlName="mobile" autocomplete="none" [ngClass]="{'border-2 border-red-500' : userFormGroup.get('mobile')?.errors &&
                    ( userFormGroup.get('mobile')?.touched ||  userFormGroup.get('mobile')?.dirty)
                  ,'border border-gray-300' : !(userFormGroup.get('mobile')?.errors &&
                  ( userFormGroup.get('mobile')?.touched ||  userFormGroup.get('mobile')?.dirty))}"
                    class="block w-full rounded-l-md pl-14   text-gray-900 focus:outline-none focus:ring-blue-500 focus:border-blue-500  sm:text-sm">
                </div>
                <button (click)="searchUser()"
                  class="-ml-px cursor-pointer relative inline-flex items-center space-x-2 px-2 border border-gray-300 text-sm font-medium rounded-r-md text-gray-700 bg-gray-50 hover:bg-gray-100 ">
                  <mat-icon class="text-gray-500">search</mat-icon>
                </button>
              </div>

              <div
                *ngIf="(userFormGroup.get('mobile')?.touched ||  userFormGroup.get('mobile')?.dirty) 
            && (userFormGroup.get('mobile')?.errors?.['required'] || userFormGroup.get('mobile')?.errors?.['pattern']) "
                class="text-red-500 text-xs pt-1">Number is invalid</div>
            </div>

            <div class="w-full sm:mt-0 mt-4">
              <label for="name" class="block text-sm font-medium text-gray-700">Full Name</label>
              <div class="mt-1 ">
                <input formControlName="fullName" type="text" id="name" name="name" autocomplete="name" [ngClass]="{' border-2 border-red-500' : userFormGroup.get('fullName')?.errors &&
              ( userFormGroup.get('fullName')?.touched ||  userFormGroup.get('fullName')?.dirty),
            'border border-gray-300' : !(userFormGroup.get('fullName')?.errors &&
            ( userFormGroup.get('fullName')?.touched ||  userFormGroup.get('fullName')?.dirty))}"
                  class="appearance-none relative block w-full px-3 py-2  placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm">
              </div>
              <div *ngIf="(userFormGroup.get('fullName')?.touched ||  userFormGroup.get('fullName')?.dirty) 
          && (userFormGroup.get('fullName')?.errors?.['required']) " class="text-red-500 text-xs pt-1">Name is invalid
              </div>
            </div>

          </div>

          <!-- Mode of Payment -->
          <div class="mt-4">
            <label for="mode-of-payment" class="block text-sm font-medium text-gray-700">Mode of Payment</label>
            <div class="mt-1">
              <select (change)="onmodeOfPaymentChange($any($event.target).value)" name="mode-of-payment"
                autocomplete="none" formControlName="modeOfPayment" [ngClass]="{' border-2 border-red-500' : userFormGroup.get('modeOfPayment')?.errors &&
              ( userFormGroup.get('modeOfPayment')?.touched ||  userFormGroup.get('modeOfPayment')?.dirty),
          'border-gray-300' : !(userFormGroup.get('modeOfPayment')?.errors &&
          ( userFormGroup.get('modeOfPayment')?.touched ||  userFormGroup.get('modeOfPayment')?.dirty))}"
                class="mt-1 block w-full bg-white  rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">

                <option value="cash">Cash</option>
                <option value="online">Online</option>
                <option value="both">Both</option>
                <option value="notConfirm">Not Confirm</option>
              </select>
            </div>

          </div>

          <div formArrayName="modeOfPaymentInfo"
            *ngFor="let userFormGroup of getFormControl('modeOfPaymentInfo').controls; let i = index"
            >

            <div [formGroupName]="i" class="mt-4 flex sm:flex-row flex-col gap-x-2">
              <div class="w-full sm:mt-0 mt-4">
                <label for="cash" class="block text-sm font-medium text-gray-700">Cash Amount</label>
                <div class="mt-1 ">
                  <input formControlName="cash" type="number" name="cash" autocomplete="cash"
                    [ngClass]="{'border-2 border-red-500' :  checkForFormErrors(i, 'cash', 'modeOfPaymentInfo'),'border-gray-300' : !(checkForFormErrors(i, 'cash', 'modeOfPaymentInfo')) }"
                    class="appearance-none relative block w-full px-3 py-2  placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm">
                </div>

                <!-- Errors -->
                <span *ngIf="checkForFormErrors(i, 'cash', 'modeOfPaymentInfo')">
                  <span class="text-red-500 text-xs"
                    *ngIf="getFormError(i,'required', 'cash', 'modeOfPaymentInfo')">Cash amount is
                    invalid</span>
                </span>
                <!-- Errors End -->

              </div>

              <div class="w-full sm:mt-0 mt-4">
                <label for="online" class="block text-sm font-medium text-gray-700">Online Amount</label>
                <div class="mt-1 ">
                  <input formControlName="online" type="number" name="online" autocomplete="online"
                    [ngClass]="{'border-2 border-red-500' :  checkForFormErrors(i, 'online', 'modeOfPaymentInfo'),'border-gray-300' : !(checkForFormErrors(i, 'online', 'modeOfPaymentInfo')) }"
                    class="appearance-none relative block w-full px-3 py-2  placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm">
                </div>
                <!-- Errors -->
                <span *ngIf="checkForFormErrors(i, 'online', 'modeOfPaymentInfo')">
                  <span class="text-red-500 text-xs"
                    *ngIf="getFormError(i,'required', 'online', 'modeOfPaymentInfo')">Online amount is
                    invalid</span>
                </span>
                <!-- Errors End -->
              </div>

            </div>
          </div>
          <!-- Mode of Payment End-->

          <div class="mt-4">
            <label for="table-number" class="block text-sm font-medium text-gray-700">Table Number</label>
            <div class="mt-1">
              <select name="table" autocomplete="none" formControlName="table" [ngClass]="{' border-2 border-red-500' : userFormGroup.get('table')?.errors &&
            ( userFormGroup.get('table')?.touched ||  userFormGroup.get('table')?.dirty),
        'border-gray-300' : !(userFormGroup.get('table')?.errors &&
        ( userFormGroup.get('table')?.touched ||  userFormGroup.get('table')?.dirty))}"
                class="mt-1 block w-full bg-white  rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">

                <option *ngFor="let table of tables" [value]="table?.id">
                  {{table?.name}}</option>

              </select>

              <!-- Error -->
              <div *ngIf="(userFormGroup.get('table')?.touched ||  userFormGroup.get('table')?.dirty) 
          && (userFormGroup.get('table')?.errors?.['required'])" class="text-red-500 text-xs pt-1">
                Table is invalid
              </div>
            </div>

          </div>
        </div>
        <!-- User Information End -->

      </div>

    </div>
  </form>
</div>


<div>

  <!-- search popup -->

  <div *ngIf="showSearchDishDialog" class="fixed inset-0 z-50 overflow-y-auto p-0 sm:p-6 md:p-20 " role="dialog"
    aria-modal="true">
    <!--
     Background overlay, show/hide based on modal state.
 
     Entering: "ease-out duration-300"
       From: "opacity-0"
       To: "opacity-100"
     Leaving: "ease-in duration-200"
       From: "opacity-100"
       To: "opacity-0"
   -->
    <div
      [ngClass]="{'ease-out duration-300 opacity-100' : showSearchDishDialog, 'ease-in duration-200 opacity-0' : !showSearchDishDialog}"
      class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity" aria-hidden="true"></div>

    <!--
     Command palette, show/hide based on modal state.
 
     Entering: "ease-out duration-300"
       From: "opacity-0 scale-95"
       To: "opacity-100 scale-100"
     Leaving: "ease-in duration-200"
       From: "opacity-100 scale-100"
       To: "opacity-0 scale-95"
   -->
    <div
      [ngClass]="{'ease-out duration-300 opacity-100 scale-100' : showSearchDishDialog, 'ease-in duration-200 opacity-0 scale-95' : !showSearchDishDialog}"
      class=" h-full sm:h-fit mx-auto max-w-4xl transform divide-y divide-gray-500 divide-opacity-10 overflow-hidden sm:rounded-xl bg-white bg-opacity-80 shadow-2xl ring-1 ring-black ring-opacity-5 backdrop-blur backdrop-filter transition-all">

      <button (click)="toggleSearchDishDialog()"
        class="fixed top-4 right-6 inline-flex items-center p-1 border border-transparent rounded-full shadow-sm bg-opacity-50 text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black">
        <mat-icon class="text-white">close</mat-icon>
      </button>


      <!-- search dishes -->
      <div (clickOutside)="toggleSearchDishDialog()" class="p-6">
        <div class="pt-8">
          <app-search-dish (selectedData)="addDish($event)"></app-search-dish>
        </div>
      </div>
      <!-- search dihes end -->

    </div>
  </div>
  <!-- search popup end -->
</div>