<div class="bg-gray-100 h-full">
<app-loader class="absolute top-0 left-0" *ngIf="loading"></app-loader>
<div *ngIf="!publish && !loading" class="bg-yellow-500">
    <div class="mx-auto max-w-6xl py-3 px-3 sm:px-6 lg:px-8">
      <div class="flex flex-wrap items-center justify-between">
        <div class="flex w-0 flex-1 items-center">
          <span class="flex rounded-lg bg-yellow-600 p-2">
            <mat-icon class="text-white">
                info</mat-icon>
          </span>
          <p class="ml-3 font-medium text-white">
            <span>Your dish is not published, means it won't be visible to the users.</span>
          </p>
        </div>

      </div>
    </div>
  </div>
  
<div *ngIf="!loading" class="pt-8 pb-12">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">

        <form [formGroup]="dishFormGroup">

            <div class="flex justify-between py-4 items-center">
                <button (click)="goBackback()" class="text-indigo-500 flex items-center  text-sm  ">
                    <mat-icon class="mr-2 text-base ">
                        arrow_back</mat-icon> Back
                </button>
                <div class="flex flex-row">

                <button (click)="saveDish(publish ? 'Unpublish' : 'Publish')" [disabled]="dishFormGroup.invalid"
                class="flex justify-center items-center py-2 px-4 border border-transparent text-indigo-700 bg-indigo-100 hover:bg-indigo-200  text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500  ">
                <mat-icon class="mr-2">
                    publish</mat-icon>
                {{publish ? 'Unpublish' : 'Publish'}}</button>
                <button (click)="saveDish()" [disabled]="dishFormGroup.invalid"
                    class="ml-2 disabled:bg-indigo-400 flex items-center bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 text-sm text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500">
                    <mat-icon class="mr-2">
                        save</mat-icon>
                    Save</button>
                </div>
            </div>


            <div class="mt-8 grid grid-cols-1 gap-6  lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">

                <!-- Left section  -->
                <div class="space-y-6 lg:col-start-1 lg:col-span-2">

                    <section aria-labelledby="applicant-information-title">
                        <div class="bg-white shadow sm:rounded-lg">
                            <div class="px-4 py-5 sm:px-6">
                                <h2 id="applicant-information-title"
                                    class="text-lg leading-6 font-medium text-gray-900">
                                    Dish Information</h2>
                                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                    This information will be displayed publicly so be
                                    careful what you write.</p>
                            </div>


                            <div class="border-t px-4 py-5 sm:px-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">

                                <!-- Name -->
                                <div class="sm:col-span-3">
                                    <label for="dish-name" class="block text-sm font-medium text-gray-700">
                                        Name
                                    </label>
                                    <div class="mt-1">
                                        <input formControlName="name" type="text" name="dish-name"
                                            autocomplete="dish-name" [ngClass]="{' border-2 border-red-500' : dishFormGroup.get('name')?.errors &&
                                            ( dishFormGroup.get('name')?.touched ||  dishFormGroup.get('name')?.dirty),
                                        'border-gray-300' : !(dishFormGroup.get('description')?.errors &&
                                        ( dishFormGroup.get('name')?.touched ||  dishFormGroup.get('name')?.dirty))}"
                                            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border rounded-md">
                                    </div>
                                    <div *ngIf="(dishFormGroup.get('name')?.touched ||  dishFormGroup.get('name')?.dirty) 
                                        && (dishFormGroup.get('name')?.errors?.['required'])"
                                        class="text-red-500 text-xs pt-1">Name is invalid</div>
                                </div>
                                <!-- Name End -->

                                <!-- Type  -->
                                <div class="sm:col-span-3">
                                    <label for="type" class="block text-sm font-medium text-gray-700">
                                        Type
                                    </label>
                                    <div class="mt-1">
                                        <select formControlName="type" name="type" autocomplete="type" [ngClass]="{' border-2 border-red-500' : dishFormGroup.get('type')?.errors &&
                                            ( dishFormGroup.get('type')?.touched ||  dishFormGroup.get('type')?.dirty),
                                         'border-gray-300' : !(dishFormGroup.get('type')?.errors &&
                                         ( dishFormGroup.get('type')?.touched ||  dishFormGroup.get('type')?.dirty))}"
                                            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm rounded-md">
                                            <option value="Veg">Veg</option>
                                            <option value="NonVeg">Non Veg</option>
                                        </select>

                                        <div *ngIf="(dishFormGroup.get('type')?.touched ||  dishFormGroup.get('type')?.dirty) 
                                        && (dishFormGroup.get('type')?.errors?.['required'])"
                                            class="text-red-500 text-xs pt-1">Type is invalid</div>
                                    </div>
                                </div>
                                <!-- Type End -->

                                <!-- Description  -->
                                <div class="sm:col-span-6">
                                    <label for="description" class="block text-sm font-medium text-gray-700">
                                        Description
                                    </label>
                                    <div class="mt-1">
                                        <textarea formControlName="description" name="description" rows="8"
                                            [ngClass]="{' border-2 border-red-500' : dishFormGroup.get('description')?.errors &&
                                            ( dishFormGroup.get('description')?.touched ||  dishFormGroup.get('description')?.dirty),
                                        'border-gray-300' : !(dishFormGroup.get('description')?.errors &&
                                        ( dishFormGroup.get('description')?.touched ||  dishFormGroup.get('description')?.dirty))}"
                                            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border rounded-md"></textarea>

                                        <div *ngIf="(dishFormGroup.get('description')?.touched ||  dishFormGroup.get('description')?.dirty) 
                                            && (dishFormGroup.get('description')?.errors?.['required'])"
                                            class="text-red-500 text-xs pt-1">Description is invalid</div>
                                    </div>
                                </div>
                                <!-- Description End -->

                                <!-- In Stock Toggle -->
                                <div class="sm:col-span-6 flex flex-row justify-between items-center border-y py-3">
                                    <label for="photo" class="block text-sm font-medium text-gray-700"> Stock </label>
                                    <div class="mt-1 flex flex-col items-center">
                                        <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
                                        <button type="button" (click)="toggleStock()"
                                            [ngClass]="{'bg-indigo-600' : dishFormGroup.get('inStock')?.value == true, 'bg-gray-200' : dishFormGroup.get('inStock')?.value == false}"
                                            class="bg-gray-200 relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                            role="switch" aria-checked="false" aria-labelledby="annual-billing-label">
                                            <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
                                            <span aria-hidden="true"
                                                [ngClass]="{'translate-x-5' : dishFormGroup.get('inStock')?.value == true, 'translate-x-0' : dishFormGroup.get('inStock')?.value == false}"
                                                class="translate-x-0 pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200"></span>
                                        </button>
                                        <span style="font-size: 0.49rem;line-height: 0.5rem;" class="mt-2 text-xs text-gray-500">(click to toggle)</span>
                                    </div>
                                </div>
                                <!-- In Stock Toggle End -->

                                <!-- Photo -->
                                <div class="sm:col-span-3">
                                    <label for="photo" class="sr-only block text-sm font-medium text-gray-700">
                                        Photo
                                    </label>
                                    <div class="mt-1 flex items-center">
                                        <span class="h-32 w-32 rounded-full overflow-hidden bg-gray-100">
                                            <svg *ngIf="!selectedImage && !imageFromApi"
                                                class="h-full w-full text-gray-300" fill="currentColor"
                                                viewBox="0 0 24 24">
                                                <path
                                                    d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                                            </svg>
                                            <img loading="lazy" *ngIf="selectedImage || imageFromApi" [src]="getImage()"
                                                class="h-32 w-32 object-cover" />

                                        </span>
                                        <button (click)="changeImage()"
                                            class="cursor-pointer ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Change
                                        </button>

                                    </div>
                                </div>
                                <!-- Photo End -->

                                <!-- Category  -->
                                <div
                                    class="bg-gray-50 mt-2 sm:col-span-6 px-4 py-5 sm:px-6 sm:py-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6 border rounded-md">
                                    <label for="photo" class="sm:col-span-6 block text-sm font-medium text-gray-700">
                                        Variations </label>

                                    <div formArrayName="category"
                                        *ngFor="let extra of getFormControl('category').controls; let i = index"
                                        class="sm:col-span-6">

                                        <div class="grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6"
                                            [formGroupName]="i">

                                            <!-- Name -->
                                            <div class="sm:col-span-2">
                                                <label for="category-name"
                                                    class="block text-sm font-medium text-gray-700">
                                                    Name
                                                </label>
                                                <div class="mt-1">
                                                    <input formControlName="name" type="text" name="category-name"
                                                        [ngClass]="{'border-2 border-red-500' :  checkForFormErrors(i, 'name', 'category'),'border-gray-300' : !(checkForFormErrors(i, 'name', 'category')) }"
                                                        autocomplete="category-name"
                                                        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm  rounded-md">
                                                </div>

                                                <!-- Errors -->
                                                <span *ngIf="checkForFormErrors(i, 'name', 'category')">
                                                    <span class="text-red-500 text-xs"
                                                        *ngIf="getFormError(i,'required', 'name', 'category')">Name is
                                                        invalid</span>
                                                </span>
                                                <!-- Errors End -->
                                            </div>
                                            <!-- Name End -->

                                            <!-- Price  -->
                                            <div class="sm:col-span-1">
                                                <label for="Price" class="block text-sm font-medium text-gray-700">
                                                    Price <span class="text-red-500 text-xs">({{getCurrency()}})</span>
                                                </label>
                                                <div class="mt-1">
                                                    <input formControlName="price" type="number" name="price"
                                                        autocomplete="price"
                                                        [ngClass]="{'border-2 border-red-500' :  checkForFormErrors(i, 'price', 'category'),'border-gray-300' : !(checkForFormErrors(i, 'price', 'category')) }"
                                                        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm rounded-md">

                                                    <!-- Errors -->
                                                    <span *ngIf="checkForFormErrors(i, 'price', 'category')">
                                                        <span class="text-red-500 text-xs"
                                                            *ngIf="getFormError(i,'required', 'price', 'category')">Price
                                                            is
                                                            invalid</span>
                                                    </span>
                                                    <!-- Errors End -->
                                                </div>
                                            </div>
                                            <!-- Price End -->

                                            <!-- Quantity -->
                                            <div class="sm:col-span-2">
                                                <label for="quantity" class="block text-sm font-medium text-gray-700">
                                                    Quantity
                                                </label>
                                                <div class="mt-1">
                                                    <input formControlName="metadata" type="text" name="quantity"
                                                        autocomplete="quantity"
                                                        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                                                </div>
                                            </div>
                                            <!-- Quantity End -->

                                            <!-- remove button in big screen -->
                                            <div class="sm:col-span-1 hidden sm:block sm:mx-auto sm:my-auto">
                                                <label for="first-name"
                                                    class="hidden sm:block  text-sm font-medium text-gray-700">
                                                    &nbsp;
                                                </label>
                                                <button (click)="deleteSubForm(i, 'category')"
                                                    class="inline-flex items-center  border border-transparent rounded-full shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                                                    <mat-icon class="text-base">remove</mat-icon>
                                                </button>
                                            </div>
                                            <!-- remove button in big screen end-->

                                            <!-- remove button in small screen -->
                                            <div class="sm:col-span-1 sm:hidden block sm:mx-auto sm:my-auto">
                                                <label for="first-name"
                                                    class="hidden sm:block text-sm font-medium text-gray-700">
                                                    &nbsp;
                                                </label>
                                                <div class="mt-1 flex justify-end">
                                                    <button (click)="deleteSubForm(i, 'category')"
                                                        class="flex justify-center items-center bg-red-600 border border-transparent rounded-md shadow-sm py-1.5 px-4 text-sm text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-red-500">
                                                        <mat-icon class="mr-2">
                                                            remove</mat-icon>
                                                        Remove
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- remove button in small screen end -->

                                        </div>
                                    </div>

                                    <div class="sm:col-span-6 flex justify-end">
                                        <label for="first-name"
                                            class="invisible sm:visible block text-sm font-medium text-gray-700">
                                            &nbsp;
                                        </label>
                                        <div class="mt-1 flex align-middle">
                                            <button (click)="addDishCategory()"
                                                class="flex justify-center w-full items-center bg-indigo-600 border border-transparent rounded-md shadow-sm py-1.5 px-4 text-sm text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500">
                                                <mat-icon class="mr-2">
                                                    add</mat-icon>
                                                Add more variations
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <!-- Category End -->

                            </div>

                            <addon-dish-variation class="mt-4 p-2"></addon-dish-variation>
                        </div>

                    </section>

                </div>
                <!-- Left section end -->

                <!-- Right Section -->
                <section aria-labelledby="timeline-title" class="lg:col-start-3 lg:col-span-1">
                    <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6">
                        <h2 id="timeline-title" class="text-lg font-medium text-gray-900">Other Information</h2>

                        <!-- Menu -->
                        <div class="mt-4 col-span-6">
                            <label for="tag" class="block text-sm font-medium text-gray-700">Menus</label>
                            
                            <div class="p-2 mt-2 bg-gray-50 rounded-lg" *ngIf="getFormControl('menus').controls?.length == 0 && menus?.length == 0">
                                <button type="button" [routerLink]="['./../../','menu', 'add']"
                                    class="block w-full border-2 border-gray-300 border-dashed rounded-lg p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    <mat-icon style="height: unset;width: unset;" class="mx-auto  text-gray-600  text-5xl">menu_book</mat-icon>
                                    <span class="mx-auto mt-2 block text-sm font-medium text-gray-500">No menu found.</span>
                                    <button type="button" class=" mx-auto mt-2 inline-flex items-center px-4 py-2 border border-gray-300 shadow-purple-500 shadow-sm text-sm font-medium rounded-3xl text-indigo-500 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">            
                                        Create one
                                        <mat-icon style="height: unset;width: unset;" class="ml-2 text-indigo-500 text-md">
                                            east
                                        </mat-icon>
                                    </button>
                                </button>
                            </div>

                            <div class="bg-gray-100 rounded-md grid grid-cols-1 sm:grid-cols-4 gap-2 p-2 mt-2">
                                <div *ngIf="getFormControl('menus').controls?.length == 0 && menus.length > 0"
                                    class="mt-2 col-span-4 relative block w-full border-2 border-gray-300 border-dashed rounded-lg p-6 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    <mat-icon class="text-gray-500 text-5xl">
                                        menu_book</mat-icon>
                                    <span class="mt-2 block text-sm font-medium text-gray-900"> 
                                        No menu added, search to add.
                                    </span>
                                </div>

                                <div formArrayName="menus" class="sm:col-span-2 col-span-1"
                                    *ngFor="let tags of getFormControl('menus')?.controls; let i = index">
                                    <div [formGroupName]="i"
                                        class="capitalize py-1 pl-3 pr-2 flex flex-wrap justify-between  rounded-full items-center text-sm font-medium bg-indigo-100 text-indigo-700">
                                        {{getMenu(i)}}
                                        <button type="button" (click)="removeMenu(i)"
                                            class="flex-shrink-0 ml-0.5 h-4 w-4 rounded-full inline-flex items-center justify-center text-indigo-400 hover:bg-indigo-200 hover:text-indigo-500 focus:outline-none focus:bg-indigo-500 focus:text-white">
                                            <span class="sr-only">Remove</span>
                                            <svg class="h-2 w-2" stroke="currentColor" fill="none" viewBox="0 0 8 8">
                                                <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            <div class="relative">
                                <span class="inline-block w-full rounded-md shadow-sm">
                                    <input type="text" (click)="showMenuListDropDown=true;"
                                        (clickOutside)="menuListClose()" (keyup)="searchMenu($any($event).target.value)"
                                        placeholder="Search"
                                        [ngClass]="{'border-2 border-red-500' :  (dishFormGroup.get('menus')?.hasError('notValid') && dishFormGroup.get('menus')?.touched),'border-gray-300' : !(dishFormGroup.get('menus')?.hasError('notValid') && dishFormGroup.get('menus')?.touched)}"
                                        class="mt-2 py-2 px-3 rounded-md focus:outline-none focus:ring-indigo-500 block w-full sm:text-sm">
                                </span>
                                <div *ngIf="showMenuListDropDown"
                                    class="absolute overflow-hidden z-10 w-full mt-1 bg-white rounded-md shadow-lg">
                                    <ul
                                        class="overflow-auto text-base leading-6 rounded-md shadow-xs max-h-60 focus:outline-none sm:text-sm sm:leading-5">
                                        <div *ngIf="filteredMenus && filteredMenus.length > 0">
                                            <li *ngFor="let menu of filteredMenus" (click)="addMenu(menu)"
                                                class="hover:bg-gray-100  relative py-2 pl-3 text-gray-900 cursor-pointer select-none pr-9">
                                                <span
                                                    class="capitalize block font-normal truncate">{{menu?.name}}</span>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                                <div *ngIf="dishFormGroup.get('menus')?.hasError('notValid') && dishFormGroup.get('menus')?.touched"
                                    class="ml-1 mt-1 text-xs text-red-500">
                                    Select at least one menu.
                                </div>

                            </div>
                        </div>
                        <!-- Menu End -->


                        <!-- Tag -->
                        <div class="mt-4 col-span-6">
                            <label for="tag" class="block text-sm font-medium text-gray-700">Tags</label>
                            <div class="bg-gray-100 p-2 mt-2 rounded-md grid grid-cols-1 sm:grid-cols-4 gap-2">
                                <div *ngIf="getFormControl('tags').controls?.length == 0"
                                    class="col-span-4 relative block w-full border-2 border-gray-300 border-dashed rounded-lg p-6 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    <mat-icon class="text-gray-500 text-5xl">
                                        sell</mat-icon>
                                    <span class="mt-2 block text-sm font-medium text-gray-900"> No tags added, search to
                                        add.</span>
                                </div>
                                <div formArrayName="tags" class="sm:col-span-2 col-span-1"
                                    *ngFor="let tags of getFormControl('tags').controls; let i = index">
                                    <div [formGroupName]="i"
                                        class="capitalize py-1 pl-3 pr-2 flex flex-wrap justify-between  rounded-full items-center text-sm font-medium bg-indigo-100 text-indigo-700">
                                        {{getTags(i)}}
                                        <button type="button" (click)="removetags(i)"
                                            class="flex-shrink-0 ml-0.5 h-4 w-4 rounded-full inline-flex items-center justify-center text-indigo-400 hover:bg-indigo-200 hover:text-indigo-500 focus:outline-none focus:bg-indigo-500 focus:text-white">
                                            <span class="sr-only">Remove</span>
                                            <svg class="h-2 w-2" stroke="currentColor" fill="none" viewBox="0 0 8 8">
                                                <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="relative">
                                <span class="inline-block w-full rounded-md shadow-sm">
                                    <input type="text" (click)="showTagsListDropDown=true"
                                        (clickOutside)="tagListClose()" (keyup)="searchTags($any($event).target.value)"
                                        placeholder="Min 2 character" autocomplete="tag"
                                        [ngClass]="{'border-2 border-red-500' : (dishFormGroup.get('tags')?.hasError('notValid') && dishFormGroup.get('tags')?.touched),'border-gray-300' : !(dishFormGroup.get('tags')?.hasError('notValid') && dishFormGroup.get('tags')?.touched)}"
                                        class="mt-2 py-2 px-3 rounded-md focus:outline-none focus:ring-indigo-500 block w-full sm:text-sm">
                                </span>

                                <div *ngIf="showTagsListDropDown"
                                    class="absolute overflow-hidden z-10 w-full mt-1 bg-white rounded-md shadow-lg">
                                    <ul
                                        class="overflow-auto text-base leading-6 rounded-md shadow-xs max-h-60 focus:outline-none sm:text-sm sm:leading-5">
                                        
                                        <h1 *ngIf="searchingTags" class="text-sm font-bold text-gray-700 p-4">Loading...</h1>
                                        <div *ngIf="tagList && tagList.length > 0">

                                            <li *ngFor="let tag of tagList" (click)="addTag(tag)"
                                                class="hover:bg-gray-100 relative py-2 pl-3 text-gray-900 cursor-pointer select-none pr-9">
                                                <span class="capitalize block font-normal truncate">{{tag?.name}}</span>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                                <div *ngIf="dishFormGroup.get('tags')?.hasError('notValid') && dishFormGroup.get('tags')?.touched"
                                    class="ml-1 mt-1 text-xs text-red-500">
                                    Select at least one tag.
                                </div>

                                <div *ngIf="!(dishFormGroup.get('tags')?.hasError('notValid') && dishFormGroup.get('tags')?.touched)"
                                    (click)="showAddTagDialog = true; $event.stopPropagation();"
                                    class="ml-1 cursor-pointer mt-2 text-xs text-indigo-500">
                                    Unable to find the tag, <u>click</u> to add one.
                                </div>

                            </div>
                        </div>
                        <!-- Tag End -->


                    </div>
                </section>
                <!-- Right Section End -->
            </div>
        </form>


        <!--show add tag popup -->
        <div *ngIf="showAddTagDialog" class="fixed h-full inset-0 z-50 overflow-y-auto" role="dialog" aria-modal="true">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20">

                <div [ngClass]="{'ease-out duration-300 opacity-100' : showAddTagDialog, 'ease-in duration-200 opacity-0' : !showAddTagDialog}"
                    class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity" aria-hidden="true">
                </div>

                <div [ngClass]="{'ease-out duration-300 opacity-100 scale-100' : showAddTagDialog, 'ease-in duration-200 opacity-0 scale-95' : !showAddTagDialog}"
                    class="relative inline-block align-middle m-4 max-w-xl  w-full sm:m-auto transform divide-y divide-gray-500 divide-opacity-10 overflow-hidden rounded-xl bg-white bg-opacity-80 shadow-2xl ring-1 ring-black ring-opacity-5 backdrop-blur backdrop-filter transition-all">


                    <div (clickOutside)="showAddTagDialog = false">
                        <form [formGroup]="tagAddFormGroup">
                            <h2 id="payment-details-heading" class="px-6 py-5 text-lg leading-6 font-medium text-gray-900">
                                Add Tag</h2>
                            <div class="grid grid-cols-4 gap-6 px-6">
                                <div class="col-span-4 sm:col-span-2">
                                    <label for="menu-name" class="block text-sm font-medium text-gray-700">Tag
                                        name</label>
                                    <input formControlName="name" type="text" name="menu-name" autocomplete="menu-name"
                                        [ngClass]="{'border-2 border-red-500' : tagAddFormGroup.get('name')?.errors && (tagAddFormGroup.get('name')?.touched ||  tagAddFormGroup.get('name')?.dirty),
                                    'border-gray-300' : !(tagAddFormGroup.get('name')?.errors && (tagAddFormGroup.get('name')?.touched ||  tagAddFormGroup.get('name')?.dirty))}"
                                        class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm rounded-md">
                                    <div *ngIf="tagAddFormGroup.get('name')?.errors?.['required'] &&  (tagAddFormGroup.get('name')?.errors && (tagAddFormGroup.get('name')?.touched ||  tagAddFormGroup.get('name')?.dirty))"
                                        class="text-red-500 text-xs pt-1">Tag name is invalid</div>
                                </div>
                            </div>

                            <div class="mt-6 flex justify-between px-6 py-5 border-t">

                                <button type="button" (click)="showAddTagDialog = false"
                                    class="py-2 px-4 border border-indigo-500 text-sm font-medium rounded-md text-indigo-500  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    Cancel
                                </button>


                                <button type="button" (click)="createTag()" [disabled]="tagAddFormGroup.invalid"
                                    class="disabled:bg-indigo-400 cursor-pointer py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    Add
                                </button>


                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- show add tag end -->

    </div>
</div>
</div>