<div class="bg-white dark:bg-gray-800">
  <h3 class="text-lg font-medium px-4 py-5 text-gray-800 dark:text-gray-100" id="modal-title">{{dish.name}}</h3>

  <dl *ngIf="dish.inStock">
    <div *ngFor="let dishCategory of dish?.category;"
      class=" flex justify-between items-center px-4 py-5 sm:gap-4 sm:px-6">
      <div class="grid-cols-3">
        <dt class="text-base flex items-center font-medium text-gray-500 dark:text-gray-100">{{dishCategory?.name}}
          <div *ngIf="dishCategory?.metadata" class="dark:text-gray-500 text-gray-400 text-xs font-medium">
            &nbsp;({{dishCategory?.metadata}})
          </div>
        </dt>
        <dd class="mt-1 text-sm text-red-500  font-semibold sm:mt-0 sm:col-span-2">{{dishCategory?.price | currency : dish.currency}}</dd>
      </div>

      <div class="flex items-center space-x-3 border-2 dark:border-gray-700 rounded-full">
        <button (click)="changeDishQuantity(dishCategory, -1)" [disabled]="dishQuantity[dishCategory?.name] <= 0 || !dishQuantity[dishCategory?.name]"
          class=" bg-lime-500 cursor-pointer rounded-full flex justify-center items-center w-8 h-8 active:bg-lime-700  disabled:bg-lime-300 custom-ripple"
          matRipple [matRippleCentered]="false" [matRippleDisabled]="false" [matRippleUnbounded]="false">
          <mat-icon class="text-white">remove</mat-icon>
        </button>
        <p class="text-gray-500 text-sm dark:text-gray-100">{{dishQuantity[dishCategory?.name] || 0}}</p>
        <button (click)="changeDishQuantity(dishCategory, 1)"
          class="ml-4 bg-lime-500 cursor-pointer rounded-full flex justify-center items-center w-8 h-8 active:bg-lime-700  custom-ripple"
          matRipple [matRippleCentered]="false" [matRippleDisabled]="false" [matRippleUnbounded]="false">
          <mat-icon class="text-white">add</mat-icon>
        </button>
      </div>
    </div>
  </dl>
  <dl *ngIf="!dish.inStock" class="text-center px-4 py-4">
    <h1>Out Of Stock</h1>
  </dl>
</div>

<div class="bg-gray-100 dark:bg-gray-800 px-3 py-3  sm:flex sm:flex-row-reverse">
  <button type="button" (click)="closeModal()"
    class="w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-gray-700 shadow-sm px-4 py-2 bg-white dark:bg-lime-500 dark:text-white text-base font-medium text-gray-700 focus:outline-none sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm  custom-ripple"
    matRipple [matRippleCentered]="false" [matRippleDisabled]="false" [matRippleUnbounded]="false">
    Close
  </button>
</div>