<cdk-accordion class="bg-white accordion mt-6" [multi]="true">
    <cdk-accordion-item *ngFor="let parent of parentForms;let i = index; let last = last" [formGroup]="parent"
        #accordionItem="cdkAccordionItem" class="accordion-item" [ngClass]="{'border-b' : !last}" role="button"
        tabindex="0" [attr.id]="'accordion-header-' + i" [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + i">
        <div class="accordion-item-header hover:bg-gray-50 px-6" [ngClass]="{'bg-gray-50' : accordionItem.expanded}">

            <div class="w-full grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-3">

                <!-- Name and Meta data -->
                <div>

                    <!-- Name -->
                    <div class="sm:col-span-1">

                        <div>
                            <input autofocus placeholder="Name" formControlName="name"
                                type="text" name="name"
                                class="text-gray-700 font-medium placeholder:text-gray-700 placeholder:font-medium p-0 border-0 outline-none focus:p-0 focus:outline-none focus:ring-0 bg-transparent">
                        </div>

                        <!-- Errors -->
                        <div *ngIf="parent.get('name')?.errors?.['required'] &&  (parent.get('name')?.errors && (parent.get('name')?.touched ||  parent.get('name')?.dirty))"
                            class="text-red-500 text-xs pt-1">Name is invalid</div>
                        <!-- Errors End -->
                    </div>
                    <!-- Name End -->

                    <!-- metaData  -->
                    <div>
                        <div>
                            <input formControlName="metaData" type="text"
                                name="metaData" autocomplete="metaData" placeholder="Meta Data"
                                class="capitalize text-sm text-gray-500 bg-transparent p-0 border-0 outline-none focus:p-0 focus:outline-none focus:ring-0">

                            <!-- Errors -->
                            <div *ngIf="parent.get('metaData')?.errors?.['required'] &&  (parent.get('metaData')?.errors && (parent.get('metaData')?.touched ||  parent.get('metaData')?.dirty))"
                                class="text-red-500 text-xs pt-1">Meta data is invalid</div>
                            <!-- Errors End -->
                        </div>

                    </div>
                    <!-- metaData End -->
                </div>
                <!-- Name and Meta data end-->


                <!-- type  -->
                <div>
                    <select formControlName="type" name="type" autocomplete="type" [ngClass]="{' border-2 border-red-500' : parent.get('type')?.errors &&
                        ( parent.get('type')?.touched ||  parent.get('type')?.dirty),
                     'border-gray-300' : !(parent.get('type')?.errors &&
                     ( parent.get('type')?.touched ||  parent.get('type')?.dirty))}"
                        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm rounded-md">
                        <option value="Veg">Veg</option>
                        <option value="NonVeg">Non Veg</option>
                    </select>

                    <div *ngIf="(parent.get('type')?.touched ||  parent.get('type')?.dirty) 
                    && (parent.get('type')?.errors?.['required'])" class="text-red-500 text-xs pt-1">Type is invalid
                    </div>
                </div>
                <!-- type End -->


                <div>
                    <!-- Required -->
                    <div class="relative flex items-start">
                        <div class="flex items-center h-5">
                            <input class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                                type="checkbox" formControlName="required"
                                [ngClass]="{'border-2 border-red-500' : parent.get('required')?.errors && (parent.get('required')?.touched ||  parent.get('required')?.dirty),
                      'border-gray-300' : !(parent.get('required')?.errors && (parent.get('required')?.touched ||  parent.get('required')?.dirty))}">
                        </div>
                        <div class="ml-3 text-sm">
                            <label for="required" class="font-medium text-gray-700  block">Required
                                <span class="tooltip">
                                    <mat-icon style="display: flex;line-height: normal;" [inline]="true"
                                        class="text-xs items-end justify-center text-gray-600">help</mat-icon>
                                    <span class="tooltiptext content-evenly">Make this variation, required, so that user
                                        have select to any one option.</span>
                                </span>
                            </label>
                            <span id="comments-description" class="text-gray-500"><span
                                    class="sr-only">Required</span></span>
                        </div>
                    </div>
                    <!-- Required End -->

                    <!-- MultiSelect -->
                    <div class="relative flex items-start mt-1">
                        <div class="flex items-center h-5">
                            <input class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 text- border-gray-300 rounded"
                                type="checkbox" formControlName="multiSelect"
                                [ngClass]="{'border-2 border-red-500' : parent.get('multiSelect')?.errors && (parent.get('multiSelect')?.touched ||  parent.get('multiSelect')?.dirty),
                      ' border-gray-300' : !(parent.get('multiSelect')?.errors && (parent.get('multiSelect')?.touched ||  parent.get('multiSelect')?.dirty))}">
                        </div>
                        <div class="ml-3 text-sm">
                            <label for="multiSelect" class="block font-medium text-gray-700">Multi-select

                                <span class="tooltip">
                                    <mat-icon style="display: flex;line-height: normal;" [inline]="true"
                                        class="text-xs items-end justify-center text-gray-600">help</mat-icon>
                                    <span class="tooltiptext content-evenly">Make this variation multi-select, where user can
                                        select more than one item.</span>
                                </span>

                            </label>
                            <span id="candidates-description" class="text-gray-500"><span class="sr-only">MultiSelect
                                </span></span>
                        </div>
                    </div>
                    <!-- MultiSelect End -->
                </div>

            </div>

            <div class="flex  items-center justify-center mt-2 sm:mt-0">


                <button type="button" (click)="removeParent(i)"
                    class="inline-flex items-center  border border-transparent rounded-full shadow-sm text-white bg-gray-400 hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                    <mat-icon class="text-base">delete</mat-icon>
                </button>


                <button *ngIf="accordionItem.expanded" type="button"
                    (click)="accordionItem.toggle(); $event.stopPropagation();"
                    class="inline-flex items-center ml-2 border border-transparent rounded-full shadow-sm text-white bg-gray-400 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <mat-icon class="text-base">expand_less</mat-icon>
                </button>


                <button *ngIf="!accordionItem.expanded" type="button"
                    (click)="accordionItem.toggle();$event.stopPropagation(); "
                    class="inline-flex items-center ml-2 border border-transparent rounded-full shadow-sm text-white bg-gray-400 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    <mat-icon class="text-base">expand_more</mat-icon>
                </button>

            </div>

        </div>
        <div class="accordion-item-body bg-gray-50" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + i" [attr.aria-labelledby]="'accordion-header-' + i">

            <!-- Inside row -->

            <div formArrayName="children" class="w-full px-6 ">
                <div *ngFor="let child of getChildren(parent); let j = index" [formGroupName]="j" class="flex flex-col">

                    <div>

                        <div class="mt-4 bg-white border border-gray-200 rounded-lg shadow-sm">
                            <ul role="list" class="divide-y divide-gray-200">
                                <li class="flex py-6 px-4 sm:px-6">

                                    <div class=" flex-1 flex flex-col">
                                        <div class="flex">
                                            <div class="min-w-0 flex-1">
                                                <!-- Name and Meta data -->

                                                <!-- Name -->
                                                <div class="sm:col-span-1">

                                                    <div>
                                                        <input placeholder="Name"
                                                            formControlName="name" type="text" name="name"
                                                            class="placeholder:text-gray-700 text-sm p-0 border-0 outline-none focus:p-0 focus:outline-none focus:ring-0 bg-transparent font-medium text-gray-700 hover:text-gray-800">
                                                    </div>


                                                    <!-- Errors -->
                                                    <div *ngIf="child.get('name')?.errors?.['required'] &&  (child.get('name')?.errors && (child.get('name')?.touched ||  child.get('name')?.dirty))"
                                                        class="text-red-500 text-xs pt-1">Name is invalid</div>
                                                    <!-- Errors End -->
                                                </div>
                                                <!-- Name End -->

                                                <!-- metaData  -->
                                                <div>

                                                    <div>
                                                        <input placeholder="Meta Data"
                                                            formControlName="metaData" type="text" name="metaData"
                                                            autocomplete="metaData"
                                                            class="placeholder:text-sm placeholder:text-gray-500 capitalize text-sm text-gray-500 bg-transparent p-0 border-0 outline-none focus:p-0 focus:outline-none focus:ring-0">

                                                        <!-- Errors -->
                                                        <div *ngIf="child.get('metaData')?.errors?.['required'] &&  (child.get('metaData')?.errors && (child.get('metaData')?.touched ||  child.get('metaData')?.dirty))"
                                                            class="text-red-500 text-xs pt-1">Meta data is invalid</div>
                                                        <!-- Errors End -->
                                                    </div>


                                                    <!-- metaData End -->
                                                </div>
                                                <!-- Name and Meta data end-->
                                            </div>

                                            <div class="ml-4 flex-shrink-0 flow-root">


                                                <button type="button" (click)="removeChild(i, j)"
                                                    class="inline-flex items-center  border border-transparent rounded-full shadow-sm text-white bg-gray-400 hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                                                    <mat-icon class="text-base">delete</mat-icon>
                                                </button>


                                            </div>
                                        </div>

                                        <div class="flex-1 pt-2 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-3">

                                            <!-- type  -->
                                            <div class="text-sm font-medium text-gray-900">
                                                <label for="type" class="block text-sm font-medium text-gray-700">
                                                    Type
                                                </label>
                                                <select formControlName="type" name="type" autocomplete="type"
                                                    [ngClass]="{' border-2 border-red-500' : child.get('type')?.errors &&
                        ( child.get('type')?.touched ||  child.get('type')?.dirty),
                     'border-gray-300' : !(child.get('type')?.errors &&
                     ( child.get('type')?.touched ||  child.get('type')?.dirty))}"
                                                    class="mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm rounded-md">
                                                    <option value="Veg">Veg</option>
                                                    <option value="NonVeg">Non Veg</option>
                                                </select>

                                                <div *ngIf="(child.get('type')?.touched ||  child.get('type')?.dirty) 
                    && (child.get('type')?.errors?.['required'])" class="text-red-500 text-xs pt-1">Type is invalid
                                                </div>
                                            </div>
                                            <!-- type End -->

                                            <!-- price  -->
                                            <div>
                                                <label for="price" class=" block text-sm font-medium text-gray-700">
                                                    Price
                                                </label>
                                                <input type="number" formControlName="price" name="price"
                                                    autocomplete="price" [ngClass]="{' border-2 border-red-500' : child.get('price')?.errors &&
                        ( child.get('price')?.touched ||  child.get('price')?.dirty),
                     'border-gray-300' : !(child.get('price')?.errors &&
                     ( child.get('price')?.touched ||  child.get('price')?.dirty))}"
                                                    class="mt-1 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm rounded-md">



                                                <div *ngIf="(child.get('price')?.touched ||  child.get('price')?.dirty) 
                    && (child.get('price')?.errors?.['required'])" class="text-red-500 text-xs pt-1">Price is invalid
                                                </div>
                                            </div>
                                            <!-- price end -->

                                            <div>
                                                <label for="price" class=" block text-sm font-medium text-gray-700">
                                                    Show When
                                                    <span class="tooltip">
                                                        <mat-icon style="display: flex;line-height: normal;"
                                                            [inline]="true"
                                                            class="text-xs items-end justify-center text-gray-600">help</mat-icon>
                                                        <span class="tooltiptext">If you want this variation to be
                                                            dependent on other. Select it from the drop down
                                                            list.</span>
                                                    </span>
                                                </label>

                                                <!--                                               
                                                <select 
                                                    class="mt-1 w-full rounded-md border border-gray-300 text-base font-medium text-gray-700 text-left shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                                    
                                                    <optgroup
                                                        *ngFor="let variation of getList(parent.get('name')?.value, i)"
                                                        [label]="variation?.name">
                                                        <option *ngFor="let children of variation.children"
                                                            [value]="children?.name">{{children.name}}</option>
                                                    </optgroup>
                                                </select> -->

                                                <!-- <select 
                                                class="mt-1 w-full rounded-md border border-gray-300 text-base font-medium text-gray-700 text-left shadow-sm focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                                
                                                <optgroup formArrayName="dependsOn"
                                                    *ngFor="let parent of ( i > 0 ? mformData.slice(0, mformData.length - 1) : [])"
                                                    [label]="parent?.value?.name">
                                                    <option *ngFor="let children of parent?.value?.children"
                                                        [value]="children?.name">{{children.name}}</option>
                                                </optgroup>
                                                </select> -->


                                                <div>
                                                    
                                                    <div class="relative mt-1">
                                                      <button (click)="toggleDropDown(i, j, child, !child.get('showDropDown')?.value); $event.stopPropagation();" 
                                                      (clickOutside)="toggleDropDown(i, j, child, false);" type="button" 
                                                      class=" relative w-full cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500 sm:text-sm sm:leading-6" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
                                                        <span class="flex items-center">
                                                          <span class="h-full ml-3 block truncate">
                                                            {{getName(child.get('dependsOnIndex')?.value)}} &nbsp;
                                                        </span>
                                                        </span>
                                                        <span class="pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2">
                                                          <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                            <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
                                                          </svg>
                                                        </span>
                                                      </button>
                                                  
                                                      <!--
                                                        Select popover, show/hide based on select state.
                                                  
                                                        Entering: ""
                                                          From: ""
                                                          To: ""
                                                        Leaving: "transition ease-in duration-100"
                                                          From: "opacity-100"
                                                          To: "opacity-0"
                                                      -->
                                                      <div *ngIf="child.get('showDropDown')?.value" >
                                                      <ul
                                                    
                                                      class="absolute z-10 mt-1 max-h-56 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
                                                        <!--
                                                          Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.
                                                  
                                                          Highlighted: "bg-indigo-600 text-white", Not Highlighted: "text-gray-900"
                                                        -->
                                                        <div *ngFor="let variation of getList(i)"> 
                                                        <div *ngFor="let children of variation.children; let first = first; let k = index;">
                                                            <span *ngIf="first" class="text-gray-600 text-xs font-semibold my-3 px-2">{{variation?.name}}</span>
                                                        <li (click)="changeValueOfDependsOn( i, j, children, variation.index, children.index); $event.stopPropagation();" 
                                                      
                                                        class="hover:bg-gray-100 text-gray-900 relative cursor-default select-none py-2 pl-3 pr-9" id="listbox-option-0" role="option">
                                                          <div class="flex items-center">
                                                            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                                                            <span [ngClass]="{'font-semibold' : children.name == getName(child.get('dependsOnIndex')?.value)}" class="font-normal ml-3 block truncate">{{children.name}}</span>
                                                          </div>
                                                  
                                                          <span *ngIf="children.name == getName(child.get('dependsOnIndex')?.value)" class="text-indigo-600 absolute inset-y-0 right-0 flex items-center pr-4">
                                                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                                            </svg>
                                                          </span>
                                                        </li>
                                                        </div>
                                                    </div>
                                                        
                                                      </ul>
                                                    </div>
                                                    </div>
                                                  </div>

                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>

                </div>

                <div class="py-3 flex justify-end ">
                    <button (click)="addChild(i)"
                        class="flex justify-center items-center bg-indigo-600 border border-transparent rounded-md shadow-sm py-1.5 px-4 text-sm text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500">
                        <mat-icon class="mr-2">
                            add</mat-icon>
                        Add Child
                    </button>
                </div>
            </div>


        </div>
        <!-- Inside  row end -->


    </cdk-accordion-item>

    <div class="py-3 flex justify-end px-6">
        <button (click)="addParent()"
            class="flex justify-center items-center bg-indigo-600 border border-transparent rounded-md shadow-sm py-1.5 px-4 text-sm text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500">
            <mat-icon class="mr-2">
                add</mat-icon>
            Add more variations
        </button>
    </div>
    <button type="button" (click)="submitForm()">Submit</button>
</cdk-accordion>