
  .back {
    align-items: center;
    width: 100%;
  }
  
  .front {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* clip-path: inset(0 0 0 70%);
    -webkit-clip-path: inset(0 0 0 30%); */
    transition: clip-path 1s linear;
  }
  