<!-- Overview -->

<div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
    <!-- Card -->

    <div *ngIf="data" class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
            <div class="flex items-center">
                <div class="flex-shrink-0">

                    <mat-icon class="h-6 w-6 text-gray-500 ">
                        functions
                    </mat-icon>
                </div>
                <div class="ml-5 w-0 flex-1">
                    <dl>
                        <dt class="text-xs font-medium text-gray-600  truncate">Selected Sale</dt>
                        <dd>
                            <div class="text-lg font-medium text-red-500">
                                {{data?.selectedTotal || 0 | currency : currency}}
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="data" class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
            <div class="flex items-center">
                <div class="flex-shrink-0">

                    <mat-icon class="h-6 w-6 text-gray-500 rotate-90">
                        payments
                    </mat-icon>
                </div>
                <div class="ml-5 w-0 flex-1">
                    <dl>

                        <dl>
                            <dt class="text-xs font-medium text-gray-600 truncate">Selected Expense</dt>
                            <dd>
                                <div class="text-lg font-medium flex flex-wrap text-gray-600">
                                    <span class="text-red-500">
                                        {{data?.selectedExpenseTotal?.debit || 0 | currency : currency}}
                                        <mat-icon
                                            class="h-6 w-6 text-red-500 text-base flex justify-center items-center">
                                            north_east
                                        </mat-icon>
                                    </span>,&nbsp;&nbsp;
                                    <span class="text-green-600">

                                        {{data?.selectedExpenseTotal?.credit || 0 | currency : currency}}
                                        <mat-icon
                                            class="h-5 w-5 text-green-600 text-base flex justify-center items-center">
                                            south_west
                                        </mat-icon>
                                    </span>
                                </div>
                            </dd>
                        </dl>
                    </dl>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="data" class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
            <div class="flex items-center">
                <div class="flex-shrink-0">

                    <mat-icon class="h-6 w-6 text-gray-500 ">
                        savings
                    </mat-icon>
                </div>
                <div class="ml-5 w-0 flex-1">
                    <dl>
                        <dt class="text-xs font-medium text-gray-600  truncate">Selected Profit
                            <span class="capitalize text-gray-500 text-xs font-normal">&nbsp;= &nbsp;(Total +
                                Exp.Credit&nbsp;-&nbsp;Exp.Debit)</span>
                        </dt>

                        <dd>
                            <div class="text-lg font-medium text-red-500">{{data.selectedProfit || 0 | currency :
                                currency}}</div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="data" class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
            <div class="flex items-center">
                <div class="flex-shrink-0">

                    <mat-icon class="h-6 w-6 text-gray-500 ">
                        functions
                    </mat-icon>
                </div>
                <div class="ml-5 w-0 flex-1">
                    <dl>
                        <dt class="text-xs font-medium text-gray-600  truncate">Selected Avg Sale</dt>
                        <dd>
                            <div class="text-lg font-medium text-red-500">
                                {{data?.selectedAvgTotal || 0 | currency : currency}}
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="data" class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
            <div class="flex items-center">
                <div class="flex-shrink-0">

                    <mat-icon class="h-6 w-6 text-gray-500 rotate-90">
                        payments
                    </mat-icon>
                </div>
                <div class="ml-5 w-0 flex-1">
                    <dl>

                        <dl>
                            <dt class="text-xs font-medium text-gray-600 truncate">Selected Avg Expense</dt>
                            <dd>
                                <div class="text-lg font-medium flex flex-wrap text-gray-600">
                                    <span class="text-red-500">
                                        {{data?.selectedExpenseTotal?.avgdebit || 0 | currency : currency}}
                                        <mat-icon
                                            class="h-6 w-6 text-red-500 text-base flex justify-center items-center">
                                            north_east
                                        </mat-icon>
                                    </span>,&nbsp;&nbsp;
                                    <span class="text-green-600">

                                        {{data?.selectedExpenseTotal?.avgcredit || 0 | currency : currency}}
                                        <mat-icon
                                            class="h-5 w-5 text-green-600 text-base flex justify-center items-center">
                                            south_west
                                        </mat-icon>
                                    </span>
                                </div>
                            </dd>
                        </dl>
                    </dl>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="data && data?.orderGroupByModeOfPayment?.length" class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
            <div class="flex items-center">
                <div class="flex-shrink-0">

                    <mat-icon class="h-6 w-6 text-gray-500 ">
                        contrast
                    </mat-icon>
                </div>
                <div class="ml-5 w-0 flex-1">
                    <dl>
                        <dt class="text-xs font-medium text-gray-600  truncate">Transaction Mode</dt>

                        <dd class="flex flex-nowrap flex-row mt-1">

                            <div *ngFor="let mop of data?.orderGroupByModeOfPayment; let index = index; let first = first;let last = last"
                                [ngClass]="{'bg-green-600' : mop?.modeOfTransaction == 'online', 
                            'bg-red-500' : mop?.modeOfTransaction == 'offline',
                            'rounded-l-md' : first, 
                            'rounded-r-md' : last, 
                            'ml-1' : last }" [ngStyle]="getPercentage(data?.orderGroupByModeOfPayment, index)"
                                class="h-6 text-white flex items-center pl-2 text-sm p-1">
                                {{mop?.count}}
                            </div>

                        </dd>
                        <div class="flex items-center justify-between mt-2 space-x-1">

                            <span *ngFor="let mop of data?.orderGroupByModeOfPayment;"
                                [ngClass]="{'bg-green-100 text-green-800' : mop?.modeOfTransaction == 'online', 'bg-red-100 text-red-800' : mop?.modeOfTransaction == 'offline'}"
                                class="capitalize px-2 inline-flex text-xs leading-5 font-semibold rounded-full ">
                                {{mop?.modeOfTransaction}}
                            </span>

                        </div>

                    </dl>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="data && data?.ordersGroupByStatus?.length" class="bg-white overflow-hidden shadow rounded-lg">
        <div class="p-5">
            <div class="flex items-center">
                <div class="flex-shrink-0">

                    <mat-icon class="h-6 w-6 text-gray-500 ">
                        flaky
                    </mat-icon>
                </div>
                <div class="ml-5 w-0 flex-1">
                    <dl>
                        <dt class="text-xs font-medium text-gray-600 truncate">Transaction Status</dt>

                        <dd class="flex flex-nowrap flex-row mt-1">

                            <div class="flex items-center justify-between mt-2 space-x-1">

                                <span *ngFor="let orders of data?.ordersGroupByStatus;"
                                    class="capitalize px-2 inline-flex text-xs leading-5 font-semibold rounded-full"
                                    [ngClass]="{'bg-red-100 text-red-800' : orders.status == 'failed', 'bg-yellow-100 text-yellow-700' : orders.status == 'pending', 'bg-green-100 text-green-800' : orders.status == 'success'}">
                                    {{orders?.status}}:&nbsp;{{orders?.count}}
                                </span>


                            </div>

                        </dd>


                    </dl>
                </div>
            </div>
        </div>

    </div>

</div>


<!-- This example requires Tailwind CSS v2.0+ -->
<div *ngIf="data" class="pt-6">
    
    <div class="absolute right-0 inset-y-0 flex items-center pointer-events-none">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"
            class="w-5 h-5 text-gray-300">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M6 8l4 4 4-4" />
        </svg>
    </div>

    <dl
        class="mt-5 grid grid-cols-1 rounded-lg bg-white overflow-hidden shadow divide-y divide-gray-200 md:grid-cols-3 md:divide-y-0 md:divide-x">
        <div class="px-4 py-5 sm:p-6">
            <dt class="text-xs font-medium text-gray-600  truncate">Total Sale</dt>
            <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                <div class="flex items-baseline text-lg font-semibold text-red-500">
                    {{data?.totalAmount || 0 | currency : currency}}
                    <!-- <span class="ml-2 text-sm font-medium text-gray-500"> from 70,946 </span> -->
                </div>

                <!-- <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800 md:mt-2 lg:mt-0">
            
            <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only"> Increased by </span>
            12%
          </div> -->
            </dd>
        </div>

        <div class="px-4 py-5 sm:p-6">
            <dt class="text-xs font-medium text-gray-600  truncate">Total Cash</dt>
            <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                <div class="flex items-baseline text-lg font-semibold text-red-500">
                    {{data?.cashAndOnline?.totalcash || 0 | currency : currency}}
                    <!-- <span class="ml-2 text-sm font-medium text-gray-500"> from 56.14% </span> -->
                </div>

                <!-- <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-green-100 text-green-800 md:mt-2 lg:mt-0">
            
            <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 7.414V15a1 1 0 11-2 0V7.414L6.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only"> Increased by </span>
            2.02%
          </div> -->
            </dd>
        </div>

        <div class="px-4 py-5 sm:p-6">
            <dt class="text-xs font-medium text-gray-600  truncate">Total Online</dt>
            <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
                <div class="flex items-baseline text-lg font-semibold text-red-500">
                    {{data?.cashAndOnline?.totalcash || 0 | currency : currency}}
                    <!-- <span class="ml-2 text-sm font-medium text-gray-500"> from 28.62% </span> -->
                </div>

                <!-- <div class="inline-flex items-baseline px-2.5 py-0.5 rounded-full text-sm font-medium bg-red-100 text-red-800 md:mt-2 lg:mt-0">            
            <svg class="-ml-1 mr-0.5 flex-shrink-0 self-center h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 12.586V5a1 1 0 012 0v7.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only"> Decreased by </span>
            4.05%
          </div> -->
            </dd>
        </div>
    </dl>
</div>


<!-- Overview end -->